<template name="postSubmit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="url" id="url" type="text" value="" placeholder="Your URL" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="author">author</label>
      <div class="controls">
          <input name="author" id="author" type="text" value="" placeholder="Your Name" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="category">category</label>
      <div class="controls">
          <select name="category" id="category" class="form-control">
          	<option value="JavaScript" selected="selected">JavaScript</option>
          	<option value="Node.js">Node.js</option>
          	<option value="Meteor">Meteor</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="flagged">
          <input name="flagged" id="flagged" type="checkbox" value="flagged"/>
      	flagged
      </label>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>